{% load i18n %}

<!--box start--> 
<ul class="{{ game.playoff_position }}">
    <li>  
        <img width="35"  src="https://sokker.org/static/pic/flags/{{ game.t_id_h.country.code }}.svg" alt="" />
        <strong><a style="color: #222222;" href="https://sokker.org/en/app/team/{{ game.t_id_h.id }}/" target="_blank">{{ game.t_id_h.name }}</a></strong>
    </li>
    <li>
        <ul class="mres">
            <li>
                <strong>
                    {% if game.goals_home is None %}
                        -
                    {% else %}
                        {{ game.goals_home }}
                    {% endif %}
                </strong>
            </li>
            <li>
                <strong>
                    {% if game.goals_away is None %}
                        -
                    {% else %}
                        {{ game.goals_away }}
                    {% endif %}
                </strong>
            </li>
        </ul>
        
    </li>
    <li>
        <img width="35"  src="https://sokker.org/static/pic/flags/{{ game.t_id_v.country.code }}.svg" alt="" />
        <strong><a style="color: #222222;" href="https://sokker.org/en/app/team/{{ game.t_id_v.id }}/" target="_blank">{{ game.t_id_v.name }}</a></strong> 
    </li>
</ul>

<!--box end-->
