{% load i18n %}
{% load custom_tags_arcades %}
<!--box start--> 
<ul style="padding: 5px; border-bottom: 1px solid #ddd;">
    <li style="display: flex; align-items: center; margin-bottom: 10px;">
        <div class="widget" style="width: 10%;">
            {% for fixture in playoff_fixtures_cl %}
                {% if fixture.3 == game_list.0.playoff_position %}
                    <h2>{{ fixture.1|split:"_"|first }}</h2>
                {% endif %}
            {% endfor %}
        </div>
        <div class="widget" style="width: 50%;">
            <h4><img width="42" src="https://sokker.org/static/pic/flags/{{ game_list.0.t_id_h.country.code }}.svg" alt="" />
            <a style="color: #222222;" href="https://sokker.org/en/app/team/{{ game_list.0.t_id_h.id }}/" target="_blank">{{ game_list.0.t_id_h.name }}</a></h4>
        </div>
        <div style="display: flex; width: 40%; justify-content: space-around;">
            <strong style="min-width: 20px; text-align: center; background-color: #f5f5f5;">{{ game_list.0.goals_home|show_goals }}</strong>
            <strong style="min-width: 20px; text-align: center; background-color: #f5f5f5;">{{ game_list.1.goals_away|show_goals }}</strong>
            <strong style="min-width: 20px; text-align: center; background-color: #e81f3e;">{{ game_list|show_goals_total:"home" }}</strong>
            <strong style="min-width: 20px; text-align: center; background-color: #ffcb05">{% if game_list.2.t_id_h.id == game_list.0.t_id_h.id %}{{ game_list.2.goals_home|show_goals }}{% else %}{{ game_list.2.goals_away|show_goals }}{% endif %}</strong>
        </div>
    </li>
    <li style="display: flex; align-items: center;">
        <div class="widget" style="width: 10%;">
            {% for fixture in playoff_fixtures_cl %}
                {% if fixture.3 == game_list.0.playoff_position %}
                    <h2>{{ fixture.2|split:"_"|first }}</h2>
                {% endif %}
            {% endfor %}
        </div>
        <div class="widget" style="width: 50%;">
            <h4><img width="42" src="https://sokker.org/static/pic/flags/{{ game_list.0.t_id_v.country.code }}.svg" alt="" />
            <a style="color: #222222;" href="https://sokker.org/en/app/team/{{ game_list.0.t_id_v.id }}/" target="_blank">{{ game_list.0.t_id_v.name }}</a></h4>
        </div>
        <div style="display: flex; width: 40%; justify-content: space-around;">
            <strong style="min-width: 20px; text-align: center; background-color: #f5f5f5;">{{ game_list.0.goals_away|show_goals }}</strong>
            <strong style="min-width: 20px; text-align: center; background-color: #f5f5f5;">{{ game_list.1.goals_home|show_goals }}</strong>
            <strong style="min-width: 20px; text-align: center; background-color: #e81f3e;">{{ game_list|show_goals_total:"away" }}</strong>
            <strong style="min-width: 20px; text-align: center; background-color: #ffcb05">{% if game_list.2.t_id_h.id == game_list.0.t_id_h.id %}{{ game_list.2.goals_away|show_goals }}{% else %}{{ game_list.2.goals_home|show_goals }}{% endif %}</strong>
        </div>
    </li>
</ul>
<!--box end-->
