<div class="row">
    <div class="col-md-12"> 
        <div class="group-box">  
    
            <div class="legend">
                <ul>
                    <li>Legend:</li>
                    <li><span class="badge badge-warning"><i class="fas fa-check"></i></span> Arranged</li>
                    <li><span class="badge badge-success"><i class="fas fa-futbol"></i></span> Played</li>
                    <li><span class="badge badge-warning"><i class="fas fa-times"></i></span> Postponed</li>
                    <li><span class="badge badge-success"><i class="fas fa-ban"></i></span> Adjusted</li>
                    <li><span class="badge badge-danger"><i class="fas fa-times"></i></span> Not arranged</li>
                    <li></li>
                </ul>   
            </div>
        </div>
    </div>
</div>

<style>
.legend ul {
    display: flex;
    list-style: none;
    align-items: center;  /* Vertical alignment */
    justify-content: flex-start;  /* Horizontal alignment */
    gap: 20px;
    padding: 0;
    margin: 0;
}

.legend ul li {
    white-space: nowrap;  /* Prevent wrapping */
}

.legend ul li {
    display: inline-block;
    margin-right: 20px;  /* Space between items */
}


</style>