<!-- templates/best-players.html -->
{% extends 'base.html' %}
{% load cache %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}
{% load i18n %}
{% block title %}{{ cup.c_name }}{% endblock %}
{% load custom_tags %}
{% block content %}
{% include 'includes/inner-header.html' with page_title=page_title  page_siblings=page_siblings country=country  background=cup.header_image %}  


<div class="main-content innerpagebg wf100">
    <!--team Page Start-->
    <div class="team wf100 p80">
       <!--Start-->
       <div class="matach-groups">
            <div class="container">
                {% include "arcades/includes/submenu.html" with cup=cup %} 
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>{% trans "Cup Details" %}</h2>
                        </div> 
                    </div>
                </div>
                {% if cup.c_notes %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-txt">
                            <p>{{ cup.c_notes|safe }}</p>
                        </div>  
                    </div>
                </div>
                {% endif %}
                {% if cup.forum_link %}
                <div class="row">
                    <div class="col-md-12 buy-ticket">
                        <p><a href="{{ cup.forum_link }}" target="_blank">{% trans "Forum" %}</a></p>
                    </div>
                </div>
                {% endif %}
                {% if final or final_bronze or semi_finals or quarter_finals or eight_finals %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>{% trans "Playoffs" %}</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-{{ playoff_cols }} col-md-{{ playoff_cols}}">
                            <div class="group-box">
                                <h6>{% trans "Final" %}</h6>
                                {% if final %}
                                    {% if cup.is_cl %}
                                        {% regroup final by playoff_position as grouped_games %}
                                        {% for position in grouped_games %}
                                                {% include "arcades/includes/game_block_playoff_cl.html" with game_list=position.list cup=cup %}       
                                        {% endfor %}
                                    {% else %}
                                        {% for game in final %}
                                               {% include "arcades/includes/game_block_playoff.html" with title="Final" game=game cup=cup %}       
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
            
                                {% if final_bronze %}
                                    {% include "arcades/includes/game_block_playoff.html" with title="3/4 Place game" game=final_bronze cup=cup %}
                                {% endif %}
                            </div>
                        </div>
          
                       
                        <div class="col-lg-{{ playoff_cols }} col-md-{{ playoff_cols }}">
                            <div class="group-box">
                                
                                <h6>{% trans "Semifinals" %}</h6>
                                {% if semi_finals|length > 0 %}
                                    <!--title end-->
                                    {% if cup.is_cl %}
                                        {% regroup semi_finals by playoff_position as grouped_games %}
                                        {% for position in grouped_games %}
                                                {% include "arcades/includes/game_block_playoff_cl.html" with game_list=position.list cup=cup %}       
                                        {% endfor %}
                                    {% else %}
                                        {% for game in semi_finals %}
                                            {% include "arcades/includes/game_block_playoff.html" with game=game cup=cup %}       
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                   
                    </div>
                    <div class="row">
                    <div class="col-lg-{{ playoff_cols }} col-md-{{ playoff_cols }}">
                        {% if quarter_finals|length > 0 %}
                        <div class="group-box">
                             
                                    <h6>{% trans "Quarterfinals" %}</h6>

                                    {% if cup.is_cl %}
                                        {% regroup quarter_finals by playoff_position as grouped_games %}
                                        
                                        <ul>
                                            <li><h2></h2></li>
                                        </ul>
                                        {% for position in grouped_games %}
                                                <ul style="padding: 5px; border-bottom: 1px solid #ddd;">
                                                    <li><h2></h2></li>
                                                </ul>
                                                {% include "arcades/includes/game_block_playoff_cl.html" with game_list=position.list cup=cup %}       
                                                <ul>
                                                    <li><h2></h2></li>
                                                </ul>

                                        {% endfor %}

                                    {% else %}
                                        {% for game in quarter_finals %}
                                            {% include "arcades/includes/game_block_playoff.html" with game=game cup=cup %}       
                                        {% endfor %}
                                    {% endif %}
                               
                            </div>
                        </div>
                        {% endif %} 
                
                        {% if eight_finals|length > 0 %}
                        <div class="col-lg-{{ playoff_cols }} col-md-{{ playoff_cols }}">
                            <div class="group-box">
    
                                {% if eight_finals|length > 0 %}
                                            
                                    <h6>{% trans "Eight finals" %}</h6>
                                        <!--title end-->
                                    {% if cup.is_cl %}
                                        {% regroup eight_finals by playoff_position as grouped_games %}
                                        {% for position in grouped_games %}
                                                {% include "arcades/includes/game_block_playoff_cl.html" with game_list=position.list cup=cup %}       
                                        {% endfor %}
                                    {% else %}
                                        {% for game in eight_finals %}
                                            {% include "arcades/includes/game_block_playoff.html" with game=game cup=cup %}       
                                        {% endfor %}
                                    {% endif %}
                                
                                {% endif %}  
                            </div>
                        </div>
                        {% endif %}
                </div>
                {% endif %}
                {% if cup.is_cl %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2>{% trans "Playoffs preliminaries" %}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            
                                {% if eight_finals_cl %}
                                    {% regroup eight_finals_cl by playoff_position as grouped_games %}
                                    {% for position in grouped_games %}
                                    <div class="group-box">
                                        {% include "arcades/includes/game_block_playoff_cl.html" with game_list=position.list cup=cup %}       
                                    </div>
                                    {% endfor %}
                                {% endif %}
                        </div>
                        <div class="col-lg-2 col-md-2">
                            {% if eight_finals_cl %}
                                {% for position in grouped_games %}
                                <ul class="playoff-connector">
                                    {% if forloop.counter == 1 %}
                                    <li class="space-first"></li>
                                    {% endif %}
                                    {% if forloop.counter > 1 %}
                                    <li class="space"></li>  
                                    {% endif %}
                                    <li class="first-connector"></li>
                                    <li class="second-connector"></li>
                                    {% if forloop.counter < 8  %}
                                    <li class="space"></li>
                                    {% endif %}
                                </ul>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-lg-4 col-md-4">            
                                {% if eight_finals_cl %}
                                    {% for position in grouped_games %}
                                    {% if forloop.counter == 1 %}
                                    <div style="height: 1px;width: 100%;"></div>  
                                    {% endif %}
                                    <div class="group-box">
                                        {% include "arcades/includes/preliminaries_opponent.html" with game_list=position.list cup=cup %}       
                                    </div>
                                    {% if forloop.counter < 8 %}
                                    <div style="height: 14px;width: 100%;"></div>  
                                    {% endif %}
                                    {% endfor %}
                                {% endif %}
                            
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="section-title">
                        <div class="col-md-12">
                            <h2>{% trans "Group Stage" %}</h2>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <!-- Render the tables -->
                    {% for table in tables %}
                        <div class="col-lg-{{ columns_1 }} col-md-{{ columns_1 }}">
                            <div class="group-box">
                                {% get_last_round_arcades cup_id=cup.pk group_id=forloop.counter as last_round %}
                                {% get_group_games_arcades cup_id=cup.pk group_id=forloop.counter rounds=last_round as group_games %}                      
                                <h6>{% trans "Group" %} {{ forloop.counter }} - Round {{ last_round }}</h6>
                                
                                <ul>
                                    {% for game in group_games %}
                                        <h4>Game {{ forloop.counter }}</h4>
                                        {% include "arcades/includes/game_block.html" with  game=game cup=cup %}       
                                    {% endfor %}         
                                </ul>
                                <div class="buy-ticket">
                                    <a href="{% url "arcade_cup_fixtures_groups" category_slug=cup.category.slug cup_id=cup.pk group_id=forloop.counter %}">{% trans "All games" %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-{{ columns_2 }} col-md-{{ columns_2 }}">
                            <div class="group-box">
                                <div class="widget">
                                    <h6>{{ cup.c_name}} - {% trans "Group" %} {{ forloop.counter }} - Standing</h6>
                                    <div class="match-results-table team-name">
                                        {% cache 3600 'cup_standings' cup.pk forloop.counter %}
                                            {% render_table table %}
                                        {% endcache %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% if cup.is_cl %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Find all tables within match-results-table class
    const tables = document.querySelectorAll('.match-results-table table');
    console.log('Found tables:', tables.length);

    tables.forEach(table => {
        // Get all rows except header
        const rows = table.querySelectorAll('tbody tr');
        console.log('Found rows:', rows.length);
        
        rows.forEach((row, index) => {
            // Convert to 1-based index to match table positions
            const position = index + 1;
            console.log('Processing row:', position);

            // Add classes based on position
            if (position <= 8) {
                row.classList.add('top-position');
            } else if (position <= 24) {
                row.classList.add('middle-position');
            } else if (position <= 36) {
                row.classList.add('bottom-position');
            }
            
            // Add border class after position 8 and 24
            if (position === 8 || position === 24) {
                row.classList.add('border-bottom');
            }
        });
    });
});
</script>

<style>
.table-container table thead th.orderable a{
    color: #000 !important;
}
.top-position td{
    background-color: #38a1f3 !important;  /* light green */
    color: #fff !important;
}
.middle-position td{
    background-color: #28a745 !important;  /* light blue */
    color: #fff !important;
}
.bottom-position td{
    background-color: #dc3545 !important;  /* light red */
    color: #fff !important;
}
.border-bottom {
    border-bottom: 1px solid #000 !important;
}

.playoff-connector {
    list-style: none;
    padding: 0;
    margin: 0;
}

.playoff-connector li {
    height: 22px;
    margin: 0;
}

.playoff-connector .first-connector {
    margin-bottom: -1px;
}

.playoff-connector .second-connector {
    margin-top: -1px;
}

/* Responsive styles */
@media (min-width: 1200px) {
    .playoff-connector .space {
        height: 38px;
        border: none;
    }
    .playoff-connector .space-first {
        height: 27px;
        border: none;
    }
}

@media (max-width: 1199px) {
    .playoff-connector .space {
        height: 32px;
        border: none;
    }
    .playoff-connector .space-first {
        height: 22px;
        border: none;
    }
}

@media (max-width: 991px) {
    .playoff-connector .space {
        height: 28px;
        border: none;
    }
    .playoff-connector .space-first {
        height: 18px;
        border: none;
    }
    .playoff-connector li {
        height: 18px;
    }
}

@media (max-width: 767px) {
    .playoff-connector {
        display: none;
    }
}
</style>
{% endif %}
{% endblock %}