<!-- templates/best-players.html -->
{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}
{% load i18n %}
{% block title %}{{ cup.c_name }}{% endblock %}
{% load custom_tags %}

{% block content %}
{% include 'includes/inner-header.html' with page_title=page_title  page_siblings=page_siblings country=country  background=cup.header_image %}  
<style>
   .fade-out {
  opacity: 0.2;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
</style>

<script>
   // Function to handle the button click action and redirect to a new URL
   function generateDraw() {
      // Example URL you want to redirect to
      const c_id = "{{ cup.pk }}";
      const baseUrl =  "{% url 'do_draw' %}";
      const targetUrl = `${baseUrl}?c_id=${c_id}`;
      // Redirect to the new URL
      window.location.href = targetUrl;
   }


   function fadeAndMoveElement(fromElement, toElement, teamHTML) {
      return new Promise((resolve) => {
         fromElement.classList.add('fade-out');
         setTimeout(() => {
            toElement.innerHTML = teamHTML;
            toElement.classList.add('fade-in');
            resolve(); // Resolve the promise after the timeout
         }, 2000);
      });
   }

   document.addEventListener('DOMContentLoaded', function() {
      const targetDateTimeStr = '{{ cup.c_draw_date|date:"Y-m-d\TH:i:s" }}';
      console.log(targetDateTimeStr); // Check the output   
      const targetDateTime = new Date(targetDateTimeStr);
      // Get the countdown element and the button
      const countdownElement = document.getElementById("countdown");
      const doDrawButton = document.getElementById("do-draw");

      // Update the countdown every second
      const countdownInterval = setInterval(() => {
         // Get the current date and time
         const now = new Date().getTime();
         
         // Calculate the difference between now and the target date
         const distance = targetDateTime - now;
         
         // Calculate days, hours, minutes, and seconds
         const days = Math.floor(distance / (1000 * 60 * 60 * 24));
         const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
         const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
         const seconds = Math.floor((distance % (1000 * 60)) / 1000);
         
         // Display the result
         countdownElement.innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`;
         
         // Check if the countdown is over
         if (distance <= 0) {
            // Stop the countdown
            clearInterval(countdownInterval);
            
            // Show the button
            countdownElement.innerHTML = "Time's up you can generate the draw!";
            doDrawButton.style.display = "block";
         }
      }, 1000);



      var submitButton = document.getElementById("trigger-button");
      var drawAnimation = {{ draw_json|safe }};

      submitButton.addEventListener('click', async function(event) {
      event.preventDefault(); // Prevent default form submission

      for (var team of drawAnimation) {
         console.log("draw team", team.from, team.to);
         var fromElement = document.getElementById(team.from);
         var toElement = document.getElementById(team.to); // Assuming team.to provides the target ID
         var teamHTML = fromElement.innerHTML;

         await fadeAndMoveElement(fromElement, toElement, teamHTML); // Wait for promise to resolve
         console.log("Element moved!"); // This will print after each element is moved
      }
      });
   });  
  
 </script>

<div class="main-content innerpagebg wf100">
    <!--team Page Start-->
    <div class="team wf100 p80">
       <!--Start-->
       <div class="matach-groups">
          <div class="container">
            {% include "arcades/includes/submenu.html" with cup=cup %} 
       
            <div>
               <h2>Draw is scheduled for {{ cup.c_draw_date }}</h2>

               <h3 id="countdown">0</h3>
               
               {% if cup.c_draw_status == "done" %}
                  <button id="trigger-button">Play Draw</button>
               {% endif %}
               {% if cup.c_draw_status == "ready" %}
               <button id="do-draw" style="display:none" onclick="return generateDraw();">Generate Draw</button>
               {% endif %}
            </div>
             <div class="row">
                <!--col start-->
                {% for i in pot_numbers %}
                <div class="col-lg-{{ col_lg_pots }} col-md-{{ col_lg_pots }}">
                   <div class="group-box">
                      <h6>POT {{ i }}</h6>
                      <ul>
                        {% for team in pots %}
                            {% if team.g_id == i %}
                                <li id="pot_{{ team.t_id.id }}"  ><img  width="38" height="26"  src="https://sokker.org/static/pic/flags/{{ team.t_id.country.code }}.svg" alt="">{{ team.t_id.name }} </li>
                            {% endif %} 
                        {% endfor %}
                       
                      </ul>
                   </div>
                </div>
                {% endfor %}
                <!--col end--> 
             </div>
             <div class="row">
                <!--col start-->
                {% for i in group_numbers %}
                <div class="col-lg-{{ col_lg_groups }} col-md-{{ col_lg_groups }}">
                   <div class="group-box">
                      <h6>Group {{ i }}</h6>
                      <ul>
                        {% for pot in pot_numbers %}
                            <li id="group_{{ i }}_{{ forloop.counter }}"></li>
                        {% endfor %}
                      </ul>
                   </div>
                </div>
                {% endfor %}
                <!--col end--> 
             </div>
          </div>
       </div>
       <!--End--> 
    </div>
    <!--team Page End--> 
 </div>
{% endblock %}