<!-- templates/best-players.html -->
{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load bootstrap5 %}
{% load custom_tags_arcades %}
{% block title %}Home - {{ page_title }} - {{ cup.c_name }}{% endblock %}
{% block content %}
{% include 'includes/inner-header.html' with page_title=page_title  page_siblings=page_siblings country=country %}
 
<!--Main Content Start-->
<div class="main-content solidbg wf100">
    <!--team Page Start-->
    <div class="team wf100 p80">
      <!--Start-->
      <div class="point-table">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="point-table-widget">
                <table>
                  <thead>
                    <tr>
                      <th>{% trans "Cup" %}</th>
                      <th>{% trans "Teams" %}</th>
                      <th>{% trans "Groups" %}</th>
                      <th>{% trans "Winner" %}</th>
                      <th>{% trans "Silver" %}</th>
                      <th>{% trans "Bronze" %}</th>
                      <th>{% trans "4th" %}</th>
                      <th>{% trans "Forum" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for cup in cups %}
                    <tr>
                      <td><a href="{% url 'arcade_cup_details' cup_id=cup.pk category_slug=cup.category.slug %}"><img src="/static/images/tl-logo1.png" alt=""> <strong>{{ cup.c_name }}</strong></a></td>
                      <td>{{ cup.c_teams }}</td>
                      <td>{{ cup.c_groups }}</td>
                      <td>{% get_winners cup_id=cup.pk position=1 as winner %} {{ winner.team_id.t_name }}</td>
                      <td>{% get_winners cup_id=cup.pk position=2 as silver %} {{ silver.team_id.t_name }}</td>
                      <td>{% get_winners cup_id=cup.pk position=3 as bronze %} {{ bronze.team_id.t_name }}
                        {% get_winners cup_id=cup.pk position=3 first=False as bronze2 %}{% if bronze2 %}<br>{{ bronze2.team_id.t_name }}{% endif %}
                      </td>
                      <td>{% get_winners cup_id=cup.pk position=4 as position4 %} {{ position4.team_id.t_name }}</td>
                      <td><a href="{{ cup.forum_link }}" target="_blank">{% trans "Forum" %}</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End--> 
    </div>
    <!--team Page End--> 
  </div>
  <!--Main Content End--> 
{% endblock %}