{% load i18n %}
<!--Slider Start-->
<div class="main-slider">
  <div class="home2-slider rev_slider_wrapper">
     <!-- START REVOLUTION SLIDER -->
     <div class="rev_slider_wrapper fullwidthbanner-container">
        <div id="rev-slider2" class="rev_slider fullwidthabanner">
           <ul>
              <li data-transition="fade">
                 <img src="/static/images/slide-bg.jpg" alt="" width="1920" height="750" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                 <div class="tp-caption  tp-resizeme" data-x="right" data-hoffset="350" data-y="top" data-voffset="0" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                    <div class="slide-content-box"> <img src="/static/images/slide1-player.png" alt=""> </div>
                 </div>
                 <div class="tp-caption  tp-resizeme" data-x="right" data-hoffset="850" data-y="bottom" data-voffset="100" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                    <div class="slide-content-box"> <img src="/static/images/slide1-football.png" alt=""> </div>
                 </div>
                 <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="175" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                    <div class="slide-content-box">
                       <h1><span>NTDB Bulgaria:</span><br>
                          {% trans "Best Sokker Players" %}
                       </h1>
                    </div>
                 </div>
                 <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="400" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                    <div class="slide-content-box"> <a href="{% url 'best_players' country_name='bulgaria' %}">{% trans "Learn More" %}</a> </div>
                 </div>
              </li>
              <li data-transition="fade">
                 <img src="/static/images/slide-bg.jpg" alt="" width="1920" height="750" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                 <div class="tp-caption  tp-resizeme" data-x="right" data-hoffset="400" data-y="top" data-voffset="0" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                    <div class="slide-content-box"> <img src="/static/images/slide2player.png" alt=""> </div>
                 </div>
                 <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="175" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                    <div class="slide-content-box">
                       <h1><span>NTDB Bulgaria:</span><br>
                          {% trans "All time players" %}
                       </h1>
                    </div>
                 </div>
                 <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="420" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                    <div class="slide-content-box"> <a href="{% url 'best_players_all' country_name='bulgaria' %}">Learn More</a> </div>
                 </div>
              </li>
              <li data-transition="fade">
                 <img src="/static/images/slide-bg.jpg" alt="" width="1920" height="750" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                 <div class="tp-caption  tp-resizeme" data-x="right" data-hoffset="350" data-y="top" data-voffset="0" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                    <div class="slide-content-box"> <img src="/static/images/slide3player.png" alt=""> </div>
                 </div>
                 <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="175" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                    <div class="slide-content-box">
                       <h1><span>Euro:</span><br>
                         {% trans "Sokker Euro Championships" %}
                       </h1>
                    </div>
                 </div>
                 <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="420" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                    <div class="slide-content-box"> <a href="{% url 'cup_index'  %}">{% trans "Learn More" %}</a> </div>
                 </div>
              </li>
              <li data-transition="fade">
               <img src="/static/images/slide-bg.jpg" alt="" width="1920" height="750" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
               <div class="tp-caption  tp-resizeme" data-x="right" data-hoffset="350" data-y="top" data-voffset="0" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                  <div class="slide-content-box"> <img src="/static/images/slide3player.png" alt=""> </div>
               </div>
               <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="175" data-transform_idle="o:1;" data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                  <div class="slide-content-box">
                     <h1><span>Arcades:</span><br>
                       {% trans "Arcades Championships" %}
                     </h1>
                  </div>
               </div>
               <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top" data-voffset="420" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                  <div class="slide-content-box"> <a href="{% url 'arcade_cup_index'  %}">{% trans "Learn More" %}</a> </div>
               </div>
            </li>
           </ul>
        </div>
     </div>
     <!-- END REVOLUTION SLIDER --> 
  </div>
</div>
<!--Slider End--> 