{% extends "admin/change_list.html" %}
{% block extrastyle %}
{% if extra_actions %}
<style>
    .object-tools {
    list-style: none;
    margin: 0;
    padding: 0;
}

.object-tools li {
    display: inline-block;
    margin-right: 10px; /* Adjust margin as needed */
}

.object-tools li:last-child {
    margin-right: 0;
}

.object-tools li a {
    display: inline-block;
    padding: 8px 16px; /* Adjust padding as needed */
    background-color: #007bff; /* Adjust background color */
    color: #fff; /* Adjust text color */
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.object-tools li a:hover {
    background-color: #0056b3; /* Adjust hover background color */
}
#output{
    height:30px!important;
}

</style>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('execute-command-form-button').addEventListener('click', function(event) {
        event.preventDefault();
        this.disabled = true;
        document.getElementById('output').innerHTML = "Script in progress please wait!";
        fetch('{% url "form_player_update" %}', {
            method: 'GET',
            credentials: 'same-origin'
        }).then(function(response) {
            if (response.ok) {
                return response.text();
            }
            throw new Error('Network response was not ok.');
        }).then(function(data) {
            console.log(data);
            document.getElementById('output').innerHTML = data;
          
        }).catch(function(error) {
            console.error('There was a problem with the fetch operation:', error);
            document.getElementById('output').innerHTML = error;

        });
    });

    document.getElementById('fix-player-position').addEventListener('click', function(event) {
        event.preventDefault();
        this.disabled = true;
        document.getElementById('output').innerHTML = "Script in progress please wait!";
        fetch('{% url "fix_player_position" %}', {
            method: 'GET',
            credentials: 'same-origin'
        }).then(function(response) {
            if (response.ok) {
                return response.text();
            }
            throw new Error('Network response was not ok.');
        }).then(function(data) {
            console.log(data);
            document.getElementById('output').innerHTML = data;
          
        }).catch(function(error) {
            console.error('There was a problem with the fetch operation:', error);
            document.getElementById('output').innerHTML = error;

        });
    });

    document.getElementById('execute-archive-players').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('output').innerHTML = "Script in progress please wait!";

        fetch('{% url "archive_players" %}', {
            method: 'GET',
            credentials: 'same-origin'
        }).then(function(response) {
            if (response.ok) {
                return response.text();
            }
            throw new Error('Network response was not ok.');
        }).then(function(data) {
            console.log(data);
            // Handle success response
            document.getElementById('output').innerHTML = data;
        }).catch(function(error) {
            console.error('There was a problem with the fetch operation:', error);
            // Handle error
            document.getElementById('output').innerHTML = error;
        });
    });
});

</script>
{% endif %}
{% endblock %}
{% block content_title %}
<h1>{{ country.name }}</h1>
{% if extra_title %}
<h2>{{ extra_title }}</h2>
{% endif %}
<div id="output"></div>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    {% if extra_actions %}
    <li><a href="{% url 'form_player_update' %}" class="button" id="execute-command-form-button">Visible params update</a></li>
    <li><a href="{% url 'archive_players' %}" class="button" id="execute-archive-players">Archive Players</a></li>
    <li><a href="{% url 'fix_player_position' %}" class="button" id="fix-player-position">Fix Players Position</a></li>
    {% endif %}
{% endblock %}
