<!-- templates/best-players.html -->
{% extends 'base.html' %}
{% load cache %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}
{% load i18n %}
{% block title %}{{ cup.c_name }}{% endblock %}
{% load custom_tags %}
{% block content %}
{% include 'includes/inner-header.html' with page_title=page_title  page_siblings=page_siblings country=country  background=cup.header_image %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var triggerTabList = [].slice.call(document.querySelectorAll('#nav-tab-group a'));
        triggerTabList.forEach(function (triggerEl) {
            var tabTrigger = new bootstrap.Tab(triggerEl);
            triggerEl.addEventListener('click', function (e) {
                e.preventDefault();
                tabTrigger.show();
            });
        });
    });
 </script>
<div class="main-content wf100"> 
    <section class="wf100 p80">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <div class="col-md-12">
                        <h2>{% trans "Cup Details" %}</h2>
                    </div>
                </div> 
            </div>
            {% if cup.c_notes %}
            <div class="row">
                <p>{{ cup.c_notes|safe }}</p>
            </div>
            {% endif %}
            {% if cup.forum_link %}
            <div class="row">
                <p><a href="{{ cup.forum_link }}" target="_blank">{% trans "Forum" %}</a></p>
             </div>
            {% endif %}
        
            <div class="row">
                <div class="section-title">
                    <div class="col-md-12">
                        <h2>{% trans "Playoffs" %}</h2>
                    </div>
                </div> 
            </div>
            {% if final %}
                {% include "euro/includes/game_block.html" with title="Final" game=final cup=cup %}
            {% endif %}
       
            {% if final_bronze %}
                {% include "euro/includes/game_block.html" with title="3/4 Place game" game=final_bronze cup=cup %}
            {% endif %}

            {% if semi_finals|length > 0 %}
            <div class="row">
                <div class="match-results-list wf100">
                    <!--title start-->
                    <div class="nms-title">
                       <h4><span>{{ cup.c_name}} - {% trans "Semifinals" %}</span></h4>
                    </div>
                    <!--title end-->
                    {% for game in semi_finals %}
                        {% include "euro/includes/game_block.html" with  game=game cup=cup %}       
                    {% endfor %}
                 </div>
            </div>
            {% endif %}

            {% if quarter_finals|length > 0 %}
            <div class="row">
                <div class="match-results-list wf100">
                    <!--title start-->
                    <div class="nms-title">
                       <h4><span>{{ cup.c_name}} - {% trans "Quarterfinals" %}</span></h4>
                    </div>
                    <!--title end-->
                    {% for game in quarter_finals %}
                        {% include "euro/includes/game_block.html" with  game=game cup=cup %}       
                    {% endfor %}
                 </div>
            </div>
            {% endif %}   
            
 
            {% if eight_finals|length > 0 %}
            <div class="row">
                <div class="match-results-list wf100">
                    <!--title start-->
                    <div class="nms-title">
                       <h4><span>{{ cup.c_name}} - {% trans "Eight finals" %}</span></h4>
                    </div>
                    <!--title end-->
                    {% for game in eight_finals %}
                        {% include "euro/includes/game_block.html" with  game=game cup=cup %}       
                    {% endfor %}
                 </div>
            </div>
            {% endif %}  
            <div class="row">
                <div class="section-title">
                    <div class="col-md-12">
                        <h2>{% trans "Group Stage" %}</h2>
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-tabs">
                        <!-- Render the tables -->

                        {% include "arcades/includes/submenu_group_tabs.html" with cup=cup groups=groups group_id=1 %} 
                        <div class="tab-content" id="nav-tab-content-groups">
                            {% for table in tables %}
                            
                                <div class="tab-pane  fade {% if forloop.counter == 1 %}active show{% endif %}" 
                                id="nav-{{ forloop.counter }}-group" 
                                role="tabpanel" 
                                aria-labelledby="nav-{{ forloop.counter }}-tab-group">

                                    <div class="col-lg-12 col-md-6"> 
                                        <h2>Group {{ forloop.counter }}</h2>
                                        {% get_group_games cup_id=cup.pk group_id=forloop.counter as group_games %}
                                        <div class="match-results-list wf100">
                                        <!--title start-->
                                        <div class="nms-title">
                                            <h4><span>{{ cup.c_name}} - {% trans "Group" %} {{ forloop.counter }}</span></h4>
                                        </div>
                                        <!--title end-->
                                            {% for game in group_games %}
                                                {% include "euro/includes/game_block.html" with  game=game cup=cup %}       
                                            {% endfor %}
                                        </div>
                                        <div class="point-table-widget">
                                            {% cache 0 "rank_group_cache_key_{{ cup.pk }}_{{ forloop.counter }}" %}
                                                {% render_table table %}
                                            {% endcache %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}