<!-- templates/best-players.html -->
{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}
{% load i18n %}
{% block title %}{{ cup.c_name }}{% endblock %}
{% load custom_tags %}
{% block content %}
{% include 'includes/inner-header.html' with page_title=page_title  page_siblings=page_siblings country=country  background=cup.header_image %}
 
<div class="main-content wf100"> 
    <section class="wf100 p80">
        <div class="container">
            
            {% if cup.c_notes %}
            <div class="row">
                <p>{{ cup.c_notes|safe }}</p>
            </div>
            {% endif %}
            {% if cup.forum_link %}
            <div class="row">
                <p><a href="{{ cup.forum_link }}" target="_blank">{% trans "Forum" %}</a></p>
             </div>
            {% endif %}
        
            {% if final %}
            <div class="row">
                <div class="match-results-list wf100">
                    <!--title start-->
                    <div class="nms-title">
                       <h4><span>{{ cup.c_name}} - {% trans "Final" %}</span></h4>
                    </div>
                    <!--title end-->
                    <!--box start--> 
                    <ul class="last-match">
                       <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ final.t_id_h.t_sokker_id }}.svg" alt=""> <strong>{{ final.t_id_h.t_name }}</strong> </li>
                       <li class="mscore"> <span>{{ final.goals_home }}</span> {{ final.home_status }} </li>
                       <li class="match-info"> <strong>{% trans "Final" %}</strong> <span><em>|</em> </span>  {% if final.matchID %}<a href="https://sokker.org/comment?matchID={{final.matchID}}">{% trans "Match Report" %}</a>{% endif %}</li>
                       <li class="mscore"> <span>{{ final.goals_away }}</span> {{ final.away_status }}  </li>
                       <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ final.t_id_v.t_sokker_id }}.svg" alt=""> <strong>{{ final.t_id_v.t_name }}</strong> </li>
                    </ul>
                    <!--box end-->
                 </div>
            </div>
            {% endif %}
       
            {% if final_bronze %}
            <div class="row">
                <div class="match-results-list wf100">
                    <!--title start-->
                    <div class="nms-title">
                       <h4><span>{{ cup.c_name}} - {% trans "3/4 Place game" %}</span></h4>
                    </div>
                    <!--title end-->
                    <!--box start--> 
                    <ul class="last-match">
                       <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ final_bronze.t_id_h.t_sokker_id }}.svg" alt=""> <strong>{{ final_bronze.t_id_h.t_name }}</strong> </li>
                       <li class="mscore"> <span>{{ final_bronze.goals_home }}</span> {{ final_bronze.home_status }} </li>
                       <li class="match-info"> <strong>{% trans "Bronze game" %}</strong> <span><em>|</em> </span>  {% if final_bronze.matchID %}<a href="https://sokker.org/comment?matchID={{final_bronze.matchID}}">{% trans "Match Report" %}</a>{% endif %}</li>
                       <li class="mscore"> <span>{{ final_bronze.goals_away }}</span>  {{ final.away_status }} </li>
                       <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ final_bronze.t_id_v.t_sokker_id }}.svg" alt=""> <strong>{{ final_bronze.t_id_v.t_name }}</strong> </li>
                    </ul>
                    <!--box end-->
                 </div>
            </div>
            {% endif %}


            {% if semi_finals|length > 0 %}
            <div class="row">
                <div class="match-results-list wf100">
                    <!--title start-->
                    <div class="nms-title">
                       <h4><span>{{ cup.c_name}} - {% trans "Semifinals" %}</span></h4>
                    </div>
                    <!--title end-->
                    {% for game in semi_finals %}
                        <!--box start--> 
                        <ul class="last-match">
                        <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ game.t_id_h.t_sokker_id }}.svg" alt=""> <strong>{{ game.t_id_h.t_name }}</strong> </li>
                        <li class="mscore"> <span>{{ game.goals_home }}</span> {{ game.home_status }} </li>
                        <li class="match-info"> <strong>{{ game.playoff_position }}</strong> <span><em>|</em> </span>  {% if game.matchID %}<a href="https://sokker.org/comment?matchID={{game.matchID}}">{% trans "Match Report" %}</a>{% endif %}</li>
                        <li class="mscore"> <span>{{ game.goals_away }}</span>  {{ game.away_status }} </li>
                        <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ game.t_id_v.t_sokker_id }}.svg" alt=""> <strong>{{ game.t_id_v.t_name }}</strong> </li>
                        </ul>
                        <!--box end-->
                    {% endfor %}
                 </div>
            </div>
            {% endif %}

            {% if quarter_finals|length > 0 %}
            <div class="row">
                <div class="match-results-list wf100">
                    <!--title start-->
                    <div class="nms-title">
                       <h4><span>{{ cup.c_name}} - {% trans "Quarterfinals" %}</span></h4>
                    </div>
                    <!--title end-->
                    {% for game in quarter_finals %}
                        <!--box start--> 
                        <ul class="last-match">
                        <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ game.t_id_h.t_sokker_id }}.svg" alt=""> <strong>{{ game.t_id_h.t_name }}</strong> </li>
                        <li class="mscore"> <span>{{ game.goals_home }}</span> {{ game.home_status }} </li>
                        <li class="match-info"> <strong>{{ game.playoff_position }}</strong> <span><em>|</em> </span>  {% if game.matchID %}<a href="https://sokker.org/comment?matchID={{game.matchID}}">{% trans "Match Report" %}</a>{% endif %}</li>
                        <li class="mscore"> <span>{{ game.goals_away }}</span>  {{ game.away_status }} </li>
                        <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ game.t_id_v.t_sokker_id }}.svg" alt=""> <strong>{{ game.t_id_v.t_name }}</strong> </li>
                        </ul>
                        <!--box end-->
                    {% endfor %}
                 </div>
            </div>
            {% endif %}   
            
 
            {% if eight_finals|length > 0 %}
            <div class="row">
                <div class="match-results-list wf100">
                    <!--title start-->
                    <div class="nms-title">
                       <h4><span>{{ cup.c_name}} - {% trans "Eight finals" %}</span></h4>
                    </div>
                    <!--title end-->
                    {% for game in eight_finals %}
                        <!--box start--> 
                        <ul class="last-match">
                        <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ game.t_id_h.t_sokker_id }}.svg" alt=""> <strong>{{ game.t_id_h.t_name }}</strong> </li>
                        <li class="mscore"> <span>{{ game.goals_home }}</span> {{ game.home_status }} </li>
                        <li class="match-info"> <strong>{{ game.playoff_position }}</strong> <span><em>|</em> </span>  {% if game.matchID %}<a href="https://sokker.org/comment?matchID={{game.matchID}}">{% trans "Match Report" %}</a>{% endif %}</li>
                        <li class="mscore"> <span>{{ game.goals_away }}</span>  {{ game.away_status }} </li>
                        <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ game.t_id_v.t_sokker_id }}.svg" alt=""> <strong>{{ game.t_id_v.t_name }}</strong> </li>
                        </ul>
                        <!--box end-->
                    {% endfor %}
                 </div>
            </div>
            {% endif %}  

            <div class="row">
                <!-- Render the tables -->
                {% for table in tables %}
                <div class="col-lg-12 col-md-6"> 
                    <h2>Group {{ forloop.counter }}</h2>
                    {% get_group_games cup_id=cup.pk group_id=forloop.counter as group_games %}
                    <div class="match-results-list wf100">
                    <!--title start-->
                    <div class="nms-title">
                        <h4><span>{{ cup.c_name}} - {% trans "Group" %} {{ forloop.counter }}</span></h4>
                     </div>
                     <!--title end-->
                        {% for game in group_games %}
                                <!--box start--> 
                                <ul class="last-match">
                                <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ game.t_id_h.t_sokker_id }}.svg" alt=""> <strong>{{ game.t_id_h.t_name }}</strong> </li>
                                <li class="mscore"> <span>{{ game.goals_home }}</span>ROUND {{ game.home_status }} </li>
                                <li class="match-info"> <strong>{{ game.cup_round }}</strong> <span><em>|</em> </span>  {% if game.matchID %}<a href="https://sokker.org/comment?matchID={{game.matchID}}">{% trans "Match Report" %}</a>{% endif %}</li>
                                <li class="mscore"> <span>{{ game.goals_away }}</span>  {{ game.away_status }} </li>
                                <li class="team-name"> <img src="https://sokker.org/static/pic/flags/{{ game.t_id_v.t_sokker_id }}.svg" alt=""> <strong>{{ game.t_id_v.t_name }}</strong> </li>
                                </ul>
                                <!--box end-->
                        {% endfor %}
                    </div>
                    <div class="point-table-widget">
                            {% render_table table %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}