<!-- templates/best-players.html -->
{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
{% include 'includes/inner-header.html' with page_title=page_title  page_siblings=page_siblings country=country %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('filter_box');
        var submitButton = form.querySelector('button[type="submit"]');

        submitButton.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default form submission
            form.submit(); // Submit the form
        });
    });
</script>

<div class="main-content wf100"> 
    <section class="wf100 p80">
        <div class="container">
            
            {% if filter %}
            <div class="row">
                <div class="contact-form">
                    <form id="filter_box" action="" method="get" class="form form-inline">
                        {% bootstrap_form filter.form layout='inline' %}
                        {% bootstrap_button button_type="submit" content="filter" %}
                    </form>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="product-tabs">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist"> 
                            <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Goalkeeper</a> 
                            <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">Defender</a>
                            <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">Midfilder</a>
                            <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4" aria-selected="false">Attacker</a>

                        </div>
                     </nav>
                     <div class="tab-content" id="nav-tabContent">
                        <!-- Render the tables -->
                        {% for table in tables %}
                            <div class="tab-pane {% if forloop.counter == 1  %}active show{% else %}{% endif %} fade" id="nav-{{ forloop.counter }}" role="tabpanel" aria-labelledby="nav-{{ forloop.counter }}">
                                <div class="col-lg-12 col-md-12"> 
                                    <div class="point-table-widget">
                                        {% render_table table %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}